.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input, textarea {
  margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.article{
  display: flex;
}

.item {
  flex: 1;
  border: 1px solid green;
}

.cell {
  margin-bottom: 0px;
  border-radius: 0px;
  font-size: 1.2em;
  min-height: 14px;
}

.header {
  cursor: pointer
}
